.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: azure;

    .dashboard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-width: 30vw;

        .table {
            width: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 4rem;
            border-radius: 10px;
            background-color: white;
            margin-top: 2rem;

            * {
                background-color: white;
            }

            tbody {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 2rem;


                tr {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }
}